$footer-size: 9rem;

$full-height: 100%;
$full-width: 100%;

$icon-size: 3rem;

$card-bg: #839992;

$content: 6.65rem;

$xxl: 850px;
    
$xl: 590px;
    
$lg: 400px;
    
$md: 350px;

$sm: 280px;

$xs: 220px;

$invisible: 0;