@import "variabiles.scss";
@import "shadow.scss";

button:hover,
.button:focus {
  @extend .shadow;
}
.raise:hover,
.raise:focus {
  @extend .shadow;
}

.mybtn:hover{
    animation-name: button;
    animation-duration: 0.25s;
    background-color: #ffa260 !important; 
    color: white !important; 
    border: 2px solid white !important;

}