@import "variabiles.scss";
@import "_position.scss";
@import "_invisible.scss";

.mycard{

    background-color: $card-bg !important;

    .hide
    {
        @extend .hide;
    }
}
    .mycard:hover
    {
        @include position(1rem,1rem);
        animation-name: example;
        animation-duration: 0.25s;
        box-shadow: 0 1.5rem 1.5rem rgba(0,0,0,0.25), 0 1.5rem 1.5rem rgba(0, 0, 0, 0.22);
  
    }