@import "variabiles.scss";

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: $footer-size;   
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-size;           
  }