@import "variabiles.scss";
@import "shadow.scss";
@import "position.scss";

.logo:hover {
    @extend .shadow;
    @include position(0.1rem,0.1rem);
    animation-name: example;
    animation-duration: 0.25s;    
    text-shadow: 0 1rem 1rem black, 0 0rem 0rem black;
}