@import "variabiles.scss";
@import "invisible.scss";

.responsive-map{
    overflow: hidden;
    padding-bottom:80%;
    position:relative;
    height:0;
    
    iframe
    {
        left:0;
        top:0;
        height:$full-height;
        width:$full-width;
        position:absolute;
    }

    .hide
    {
        @extend .hide;
    }
}
