@use 'background';
@import "variabiles.scss";
@import "media.scss";

@include media($xxl,85%);

@include media($xl,70%);

@include media($lg,60%);

@include media($md,50%);

@include media($sm,40%);

@include media($xs,30%);


.list-group{
    max-height: 15rem;
    margin-bottom: 0.8rem;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.modal-backdrop.fade {
	opacity: 0.85 !important;
}

.content{
    padding-top:$content;
}
